<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{group.name}}" ng-init="init()">
  <ion-content has-header="true" padding="true">
    <div class="card" ng-repeat="m in messages" ng-click="showActionSheet($index)">
      <div class="item item-text-wrap">
        <img ng-src="https://graph.facebook.com/{{m.from.id}}/picture" alt="user"/>
        {{m.from.name}}<br>
        {{m.message}}
      </div>
    </div>
  </ion-content>
</ion-view>
